/* CSS */
/* Tipografía */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
 
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-style: normal;
    padding-top: 66px;
}

.page-inicio .hero {
    background-image: url(../assets/imagenes/mario-ame-nDCkR5lVjKo-unsplash.jpg);
    height: 600px;
    background-position: center; /* lo ajusta al centro o podemos usar los ejes x e y si quueremos darle importancia a alguna parte de la imagen*/
    background-repeat: no-repeat; /* si la imagen es muy chiquita, intenta llenar el espacio con la misma imagen varias veces, entonces con el no repeat, evitamos eso */
    background-size: cover; /* ajusta/distribuye la imagen al espacio disponible */
}

.page-actividades .hero {
    background-image: url(../assets/imagenes/planetariocnm.jpg);
    height: 600px;
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover; 
}

.page-contacto .hero {
    background-image: url(../assets/imagenes/bjorn-pierre-GE-x38xCebQ-unsplash.jpg);
    height: 600px;
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover; 
}

.page-recomendaciones .hero {
    background-image: url(../assets/imagenes/sergio-rodriguez-rrlEOXRmMAA-unsplash.jpg);
    height: 600px;
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover; 
}

.page-sobre .hero {
    background-image: url(../assets/imagenes/gustavo-sanchez-j1Yx11T0UI0-unsplash.jpg);
    height: 600px;
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover; 
}

.hero__title {
  font-family: "Playfair Display", serif;
  font-weight: 1000;
  font-size: 4rem;
  font-style: normal;
  color: #fff;
  text-shadow: 3px 3px 6px rgba(0,0,0,0.9);
}

/* Navbar */
.navbar {
  background-color: #AAB99A; /
}

/* Logo */
.navbar-brand img {
  width: 40px; 
  height: auto; 
  margin-right: 8px;
}

/* Título PlanBA */
.navbar-brand span {
  font-family: 'Playfair Display', serif;
  font-size: 1.5rem; 
  font-weight: 700;
}

/* Estilos de los links */
.navbar-nav .nav-link {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: black; 
}

.navbar-nav .nav-link:hover {
  color: #5a738d; /
}



